:root {
  --primary: #4d7e3e;
  --secondary: #31c48d;
  --bg: #f9cc0b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fdfefb;
  /* min-height: 4000px; */
}

/** navbar section */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 7%;
  background-color: rgba(77, 126, 62, 0.6);
  border-bottom: 2px solid #0f8f60;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.navbar .navbar-icon img {
  width: 65px;
  height: auto;
}

.navbar .navbar-logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fdfefb;
}

.navbar .navbar-logo span {
  color: var(--secondary);
}

.navbar .navbar-nav a {
  color: #fdfefb;
  font-size: 1.2rem;
  margin: 0 1rem;
  display: inline-block;
}

.navbar .navbar-nav a:hover {
  color: var(--secondary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.3rem;
  border-bottom: 0.1rem solid var(--secondary);
  transform: scaleX(0);
  transition: 0.3s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: var(--secondary);
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--bg);
}

#hamburger-menu {
  display: none;
}

/* search form */

.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fdfefb;
  width: 45rem;
  height: 4rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-style: 1.6rem;
  color: var(--secondary);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-style: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* shopping-cart */

.navbar .shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  background-color: #ceeb9d;
  color: var(--primary);
  transition: 0.3s linear;
}

.navbar .shopping-cart.active {
  right: 0;
}

.navbar .shopping-cart img {
  height: 6rem;
  border-radius: 50%;
}

.navbar .shopping-cart h3 {
  font-size: 1.6rem;
}

.navbar .shopping-cart .cart-item .item-price {
  font-size: 1.4rem;
  color: var(--secondary);
  text-shadow: 1px 1px 3px rgba(195, 247, 195, 0.5);
}

.navbar .shopping-cart .cart-item {
  display: flex;
  margin: 2rem 0;
  gap: 1.5rem;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 2px dashed var(--bg);
  position: relative;
}

.navbar .shopping-cart .cart-item .remove-item {
  position: absolute;
  top: 4rem;
  right: 0.5rem;
  cursor: pointer;
}

.navbar .shopping-cart .cart-item .remove-item:hover {
  color: var(--bg);
}

/** Hero Section */

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.home::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(249, 204, 11, 1) 4%,
    rgba(249, 204, 11, 0) 25%
  );
}

.home .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
  text-align: right;
}

.home .content h1 {
  font-size: 4em;
  color: #fdfefb;
  text-shadow: 2px 2px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.home .content h1 span {
  font-size: 1em;
  color: var(--secondary);
}

.home .content p {
  font-size: 1.6rem;
  margin-top: 0.8rem;
  line-height: 1.5;
  /* font-weight: 100; */
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  /* mix-blend-mode: difference; */
}

.home .content .btn {
  margin-top: 0.8rem;
  padding: 1rem 3rem;
  display: inline-block;
  font-size: 1.2rem;
  color: #fdfefb;
  background-color: var(--secondary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/** About section */

.about,
.product,
.contact {
  padding: 5rem 7% 1.4rem;
}

.about h2,
.product h2,
.contact h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 1px rgba(1, 1, 3, 0.5);
}

.about h2 span,
.product h2 span,
.contact h2 span {
  color: var(--secondary);
  text-shadow: 1px 1px 3px rgba(195, 247, 195, 0.5);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 35rem;
}

.about .row .about-img img {
  width: 100%;
  box-shadow: 2px 2px 3px rgba(1, 1, 3, 0.5);
}

.about .row .content {
  flex: 1 1 30rem;
  padding: 0 2rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.about .row .content p {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  color: var(--primary);
  line-height: 1.6;
  text-shadow: 1px 1px 3px rgba(195, 247, 195, 0.3);
}

/** Product Section */

.product h2,
.contact h2 {
  margin-bottom: 1rem;
}

.product p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  line-height: 1.6;
  color: var(--primary);
  font-weight: 700;
  font-size: 1.2rem;
}

.product .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  gap: 3rem;
}

.product .row .product-card {
  text-align: center;
}

.product .row:hover .product-card {
  text-align: center;
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}

.product .row:hover .product-card:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  background: var(--bg);
  color: #dcdcdc;
}

.product .row .product-card img {
  border-radius: 50%;
  height: 80%;
}

.product .row .product-card .product-card-title {
  margin: 1rem auto 0.5rem;
  font-size: 1.4rem;
  color: #fdfefb;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/** Contact Section */

.contact .mini-info {
  margin-top: 10rem;
  text-align: center;
  line-height: 1.6;
  color: var(--primary);
  font-weight: 300;
  font-size: 1rem;
}

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: var(--primary);
  flex-wrap: wrap;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  background-color: var(--bg);
  border: 2px solid #31c48d;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.2rem;
  background: none;
  color: #fff;
}

.contact .row form .input-group select {
  width: 100%;
  padding: 2rem;
  font-size: 1.2rem;
  background: none;
  color: rgb(52, 47, 47);
}

.contact .row form .btn {
  margin: 3rem;
  display: inline-block;
  /* padding: 2rem 3rem; */
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--secondary);
  cursor: pointer;
  border-radius: 0.5rem;
  position: relative;
  border: none;
}

.contact .row form .btn span {
  display: block;
  padding: 2rem 3rem;
}

.contact .row form .btn::before,
.contact .row form .btn::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  transition: all 0.2s linear;
  background: #54e6e7;
}

.contact .row form .btn span::before,
.contact .row form .btn span::after {
  content: "";
  width: 3px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: #54e6e7;
}

.contact .row form .btn:hover::before,
.contact .row form .btn:hover::after {
  width: 100%;
}

.contact .row form .btn span:hover::before,
.contact .row form .btn span:hover::after {
  height: 100%;
}

.contact .row form .btn::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}

.contact .row form .btn span::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}

.contact .row form .btn::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}

.contact .row form .btn span::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}

/** Footer */

a {
  text-decoration: none;
  color: #fff;
}
ul li {
  list-style: none;
  color: #fff;
}
footer {
  display: grid;
  grid-template-rows: 1fr 10rem auto;
  grid-template-areas: "main" "." "footer";
  overflow-x: hidden;
  background: var(--bg);
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}
footer .footer {
  z-index: 1;
  --footer-background: #31c48d;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}
footer .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
footer .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite
      var(--delay, 0s),
    bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
    bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
footer .footer .content {
  padding: 6rem 1rem 1rem;
  background: var(--footer-background);
  z-index: 999;
}
.footer .content .container {
  max-width: 768px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  color: #fdfefb;
}

.content .container .footer__title {
  margin-bottom: 0.5rem;
  font-size: 3rem;
}

.content .container .footer__label span {
  font-size: 1rem;
  line-height: 1.6;
}

.footer__links {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  transition: all 150ms ease-out;
  justify-content: center;
}

.footer__links div {
  display: flex;
  padding-left: 1rem;
  align-items: center;
}

.footer__links div li a {
  padding-left: 1rem;
  font-size: 1.4rem;
  color: var(--primary);
  text-shadow: 2px 2px 3px rgba(195, 247, 195, 0.8);
}

.footer__links .footer__link {
  transition: all 150ms ease-out;
  display: inline-block;
}

.footer__link:hover:after {
  width: 100%;
}

.footer__link:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background-color: var(--bg);
  transition: width 0.25s ease-out;
}

.footer__copy {
  text-align: center;
  background: #31c48d;
  font-size: 1rem;
  color: #dcdcdc;
  padding: 3rem 0 2rem;
}
@-webkit-keyframes bubble-size {
  0%,
  75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%,
  75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}

/*! media queries atau responsive */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  /* memunculkan hamburger menu saat di tablet */
  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    width: 25rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .about h2 {
    margin-top: 2rem;
  }
  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 28rem;
    object-fit: cover;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1.2rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font: size 1.4rem;
  }

  .product h2 {
    margin-top: 2rem;
  }

  .contact h2 {
    margin-top: 2rem;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}

.footer .content {
  padding: 0 1.5rem;
}
.footer .content .container {
  grid-template-columns: repeat(2, 1fr);
}

.content h2 {
  font-size: 1.5rem;
}

.content span {
  font-size: 0.813rem;
}

.footer__links {
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__socials {
  justify-self: flex-start;
}

/* hp */
@media (max-width: 360px) {
  html {
    font-size: 55%;
  }

  .footer .content .container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3.5rem;
  }
}
